<%= form_with(model: quotation, url: update_second_half_path(quotation.id), method: :post, local: false) do |form| %>

  <hr> 
  
  <%= form.fields_for :quotation_transcation do |transcation| %>
    <%= render 'quotation_transaction_fields', f: transcation %>
  <% end %>

  <hr>

  <%= form.fields_for :property_legal_description do |property_legal_description| %>
    <%= render 'property_legal_description_fields', f: property_legal_description %>
  <% end %>

  <hr>

  <%= form.fields_for :property_information do |property_information| %>
    <%= render 'property_information_fields', f: property_information %>
  <% end %>

  <hr>

  <%= form.fields_for :note do |note| %>
    <%= render 'note_fields', f: note %>
  <% end %>
  <br>
  <div class="actions">
    <%= form.submit "REQUEST A CALLBACK"%>
  </div>
<% end %>
