<div id="container">
	<h1>Quotation Form</h1>

	<div id = "transaction-form">

	<%= render 'form', quotation: @quotation %>

	</div>

	<div id="second-half">

	</div>
</div>

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">REQUEST A CALLBACK</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with(model: @quotation, url: thank_you_path, method: :get, local: false) do |form| %>
          <div>
            <%= form.label :phone_number, style: "display: block" %>
            <%= form.text_field :phone_number %>
          </div>
          <br>
          <div>
            <%= form.label :availability, style: "display: block" %>
            <%= form.text_field :availability %>
          </div>
        
          <br>
          <div class="actions">
            <%= form.submit "Submit"%>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="thankyouModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1>Thank You!</h1>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>